:root {
  /* How to create custom property/variable */
  /* --name: value; */
  --clr-primary: #F55A5A;
  --text-small: .8rem;
  --text-large: 1.5rem;
  --fw-bold: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  
  line-height: 1.6;
  font-family: 'Lato', sans-serif;
  font-size: 1.3rem;
}

img, picture, svg, video {
  display: block; 
  max-width: 100%;
}

section {
  padding: 2rem 0;
}



/* colors  #918E9B #2B283A */

.nav {
  height: 70px;
  background-color: var(--clr-primary);
  display: flex;
  justify-content: center;
  align-items: center;

}

.logo {
  /* max-width: 30px;
  height: auto; */
  margin: auto 1rem;
  object-fit: contain;

}

.nav-title {
  color: #fff;
  font-weight: 700;
}

.card {
  display: flex;
  max-width: 85%;
  font-size: var(--text-small);
  margin: 25px auto;
}

.bg-dark {
  background-color: #e5e5e5;
}

.card-image {
  max-width: 200px;
  object-fit: contain;
}

.card-info {
  margin: .5rem 1rem;
  align-self: center;
}

.location {
  display: flex;
}

.marker {
 margin: .1rem .3rem .1rem .1rem;
 
 width: 11px;
 object-fit: contain;
 
 
}

.google-link {
  color: #918E9B;
  margin-left: .5rem;
}

.destination {
  font-size: var(--text-large);
  font-weight: var(--fw-bold);
  margin-bottom: 1.5rem;
}

.date {
  display: inline-block;
  font-weight: var(--font-bold);
}

@media (max-width: 572px) {
  .card {
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
  }
  .card-info {
    align-items: center;
  }
    .destination {
      font-size: 1.3rem;
      font-weight: var(--fw-bold);
      margin-bottom: 1.1rem;
    }
}